[Desktop Entry]
Encoding=UTF-8
Name=Link to React Iconshttps://react-icons.github.io › react-icons
Type=Link
URL=https://react-icons.github.io/react-icons/
Icon=text-html
