header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F4EFF5;
}

.logo{
    margin: 0px 40px;
}

header ul{
    display: flex;
}

header ul li{
    margin:0px 20px;
    color: rgb(221, 120, 159);
    font-weight: bold;
}

@media screen and (max-width: 560px) {
    header, header ul{
        flex-direction: column;
        margin-bottom: 10px;
    }
}